body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

.fish_icon {
    width: 65px;
    height: 65px;
}

.fish_icon_medium {
    width: 85px;
    height: 85px;
}

.social_ic {
    width: 40px;
    height: 40px;
}

#main_header_top_wrapper {
    background-color: #4286f4;
    background-color: #000;
    width: 100%;
}


#main_header_top {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
}

#main_header_top_support {
    display: inline-block;
    font: 600 12px/1.7 Helvetica,sans-serif !important;
    color: #fff !important;
    text-decoration: none;
    letter-spacing: .2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.header_link {
    text-decoration: none;
    color: #ffffff;
}

#main_header_top_accounts {
    display: inline-block;
    float: right;
    font: 600 12px/1.7 Helvetica,sans-serif !important;
    color: #fff !important;
    text-decoration: none;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.main_header_wrapper {
    background-color: #fff;
    width: 100%;    position: relative;
    z-index: 4 !important;
    box-shadow: 0 1px 3px 0 rgba(27,30,31,.26);
}

.main_header {
    height: 50px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;

}
#logo{
    vertical-align: middle;

}
.logo_text{
    font: 600 16px/1.7 Helvetica,sans-serif !important;
    color: #000;
    text-decoration: none;
    float: left;
    vertical-align: middle;
    padding-left: 20;
    padding-top: 10px;
}

.main_menu {
    float: right;
    width: 75%;
    padding-top: 11px;

}

.main_menu_item{
    text-decoration: none;
    padding-left: 70px;
    font: 600 12px/1.7 Helvetica,sans-serif !important;
    color: #777;
}

#map_wrapper{
     width: 100%;
}

.fishes_list_home {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}


.main-footer {
    background-color: #161414;
    font: 400 14px/1 Open Sans,Arial,sans-serif;
    color: #fff;

    bottom: 0;
    left: 0;
    right: 0;
}

.main-footer__layout {
    max-width: 1130px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.main-footer__row2-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font: 600 12px/1 Montserrat,Arial,sans-serif;
    color: #fff;
    text-transform: uppercase;
}


.main-footer__copyright {
    font: 400 11px/1 Montserrat,Arial,sans-serif;
    color: #fff;
    opacity: .5;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 20px;
    letter-spacing: .06em;
}

.main-footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}


.main-footer__contact {
    letter-spacing: 1.2px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

main-footer__link {
    letter-spacing: .13em;
    font: 400 13px/1.3 Open Sans,Arial,sans-serif;
    color: #fff;
    margin-right: 40px;
    text-decoration: none;
}

a {
    color: #2babcf;
    text-decoration: none;
}

.blog_picture_details{


}

.blog_list_picture{
    height: 170px;
}

/*Blog MENU*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 10px 0 5px;
  padding: 10px 0 5px;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 44px 0 40px;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px;
  margin: 0 30px;
}
}


/*************/