a{
    text-decoration: none;
    color: #000000;
}

body {
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.58;
}

.blog-masthead{
    /*background: #000000;*/
    background-color: rgb(26, 113, 177) !important;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}

.logo_text{
    font: 600 16px/1.7 Helvetica,sans-serif !important;
    color: #000;
    text-decoration: none;
    float: left;
    vertical-align: middle;
    padding-left: 20;
}

.blog-masthead a{
    color: #ffffff;
    text-decoration: none;
}

.main-menu-tab{
    background: #ffffff;

}

.breadcrumb-tab{
    background: #f5f5f5;
}



.main_menu_item{
color: #000000;
font-family: Lobster;
font-size: 14px;
text-decoration: none;
}

.blog_menu_item{
color: #000000;
font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
font-size: 12px;
text-decoration: none;
}

.fish_icon {
    width: 65px;
    height: 65px;
}

.fish_icon_medium {
    width: 145px;
    height: 145px;
}

.review_photo {
    width: 450px;
    height: 450px;
}

.fishes_list_home {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  list-style-type:none
}


.footer-tab{
    background: #161414;
    color: #fff;
}

.main-square{
    margin-top: 50px;
    box-shadow: 0 0 10px black;
    padding:0 15px 0 15px;
    align-content: center;
}

.social_ic {
    width: 40px;
    height: 40px;
}

.social_action_button{
    background: #ffffff;
    border-radius: 10px;

}

.social_action_button:hover {
    color: rgba(0,0,0,.68);
    border-color: rgba(0,0,0,.54);
}

.blog_article a{
    text-decoration: none;
    font-size: 22px;

}
.article-name{
    font-size: 22px;
    font-weight: bold;
}

.short-descr{
    font-size: 18px;
    color: rgba(0,0,0,.54) !important
}

.blog_list_picture{
    height: 170px;
}

.blog-list-image{
    background-size: 100%;
    height: 170px;
}

.post-date{
    font-size: 14px;
    color: rgba(0,0,0,.54) !important
}

.pound_photo_container {
    height = 200px;
    overflow: hidden;
}

.pound_details_photo {
    width: 100%;
}