        body, html {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }
        #map {
            width: 100%;
            height: 450px;
        }
#map {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    align-items: center;
}

        #map1 {
            width: 500px;
            height: 500px;
        }