{% extends 'app/base.html' %}

{% block page_title %}
    Блог
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm">
<ul class="navbar-nav w-100 justify-content-around">
    <li class="nav-item"><a href ="{% url 'articles' %}" class="blog_menu_item">Все</a></li>
    {% for category in categories %}
        <li class="nav-item">
            <a href = "{% url 'blog_category_list' category.slug %}" class="blog_menu_item">{{category.name}}</a>
        </li>

    {% endfor %}
</ul>
</nav>


    <p>Blog:</p>
    <ul class = "list-group">
    {% for article in articles %}
        <a href = "{% url 'article_show' article.id %}">
            <li class = "list-group-item"><img src = "{{article.picture.url}}" class = "blog_list_picture">
                {{article.name}}<br>{{article.published_date}}
            </li>
        </a>
    {% endfor %}
    </ul>
{% endblock %}