{% extends 'app/base.html' %}

{% block page_title %}
    Блог
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm">
<ul class="navbar-nav w-100 justify-content-around">
    <li class="nav-item"><a href ="{% url 'articles' %}" class="blog_menu_item">Все</a></li>
    {% for category in categories %}
        <li class="nav-item">
            <a href = "{% url 'blog_category_list' category.slug %}" class="blog_menu_item">{{category.name}}</a>
        </li>

    {% endfor %}
</ul>
</nav>


<div class = "row justify-content-around">
    {% for article in articles %}
    <div class="col-lg-4 col-md-6 col-xs-12 py-2 blog_article">
        <a href = "{% url 'article_show' article.id %}">
            <div class = "blog-list-image" style="background-image: url({{article.picture.url}});">
               <!--<img src = "{{article.picture.url}}" class = "blog_list_picture">-->
            </div>
            <div class="article-name py-2">{{article.name}}</div>
            <div class = "short-descr">{{article.description}}</div>
            <div class = "post-date py-2">{{article.published_date}}</div>


        </a>
    </div>


    {% endfor %}
</div>
{% endblock %}