{% extends 'app/base.html' %}

{% block content %}
<ul class="menu-main">
    <li><a href ="{% url 'articles' %}">Все</a></li>
    {% for category in categories %}
        <li>
            <a href = "{% url 'blog_category_list' category.slug %}">{{category.name}}</a>
        </li>

    {% endfor %}
</ul>


    <p>Blog:</p>
    <ul class = "list-group">
    {% for article in articles %}
        <a href = "{% url 'article_show' article.id %}">
            <li class = "list-group-item"><img src = "{{article.picture.url}}" class = "blog_list_picture">
                {{article.name}}<br>{{article.published_date}}
            </li>
        </a>
    {% endfor %}
    </ul>
{% endblock %}