{% load static %}
<html>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block header %}
{% endblock %}
<body>
<div class = "container">
    <div id = "header">

        <div id = "login_menu">
            {% if user.is_authenticated %}
                Hi {{ user.username }}!
                <p><a href="{% url 'logout' %}">logout</a></p>
            {% else %}
                <a href="{% url 'login' %}">Login </a>/  <a href="/accounts/register">Register </a></div>
            {% endif %}
        <div id = map_wrapper>
            {% block map %}
            {% endblock %}

        </div>
        <div id="main_menu">
            <a href = "{% url 'fishes' %}">РЫБА  </a>
            <a href = "{% url 'pounds' %}">Водоемы</a>
        </div>
    </div>
    <div class = 'container'>

        {% block content %}
        {% endblock %}

    </div>
</div>
</body>

</html>