{% extends 'app/base.html' %}

{% block page_title %}
    Рыба
{% endblock %}

{% block content %}
    <div class = "row justify-content-around">
    {% for fish in fishes %}
            <div class="col-lg-4 col-md-6 col-xs-12 py-2 blog_article">

                <a href = "{% url 'fish_details' fish.id %}">
                {{fish.name}}
                    <div><img src = "{{fish.picture.url}}" class = "fish_icon_medium"></div>

                 </a>
                <div>
                    сложность вылова<br>
                    {{fish.get_catch_ease_display}}
                </div>
            </div>

    {% endfor %}
    </div>
{% endblock %}