{% extends 'app/base.html' %}
{% load static %}
{% block header %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=192262e9-5603-4065-bba8-83d9251843a9" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'css/ymaps.css' %}">

{% include "app/map_render.html" %}

{% endblock %}

{% block map %}
    <div id="new_point" style="width: 80px; height: 80px; display: none;">
        New Form Window
    </div>
        <div id="map"></div>
{% endblock %}

{% block content %}

    <h1>Home page {{review.id}}</h1>



<input type="button" id="destroyButton" value="Удалить карту"/>
<div class = "fishes_main">
    <ul>
    {% for fish in fishes %}
        <li><img src = "{{fish.picture.url}}">{{fish.name}}</li>
    {% endfor %}
    </ul>

</div>

{% endblock %}
