{% extends 'app/base.html' %}
{% load static %}
{% block header %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=192262e9-5603-4065-bba8-83d9251843a9" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'css/ymaps.css' %}">

{% include "app/map_render.html" %}

{% endblock %}

{% block map %}
    <div id="new_point">
    </div>
        <div id="map"></div>
{% endblock %}

{% block page_title %}
    Главная
{% endblock %}


{% block content %}

  <form method="get">
      <div>Параметры поиска: </div>
<!--    {{ filter.form.as_p }}-->
      <div class = "row">
          <div class="col-lg-3 col-md-6 col-xs-12 py-2">
            рыба поймана: {{filter.form.fish_caught}}
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 py-2">
            метод ловли: {{filter.form.method}}
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 py-2">
            дата вылова: {{filter.form.fishing_date}}
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 py-2">
            водоем: {{filter.form.pound}}
          </div>

      </div>
    <button type="submit">Применить</button>
  </form>
{% if has_filter %}
  <a href="{%  url 'home' %}"> Очистить фильтр </a>
{% endif %}

<div class = "row justify-content-around">
    {% for fish in fishes %}
        <div class="col-lg-3 col-md-6 col-xs-12"><a href = "{% url 'fish_details' fish.id %}"><img src = "{{fish.picture.url}}" class = "fish_icon">{{fish.name}}</a></div>
    {% endfor %}


</div>

<div class="reviews_main">
    Обзоры:
    {% for review in reviews %}
    <li><a href = "{% url 'review_show' review.id %}">{{review.author.username}}  {{review.fishing_date}} </a></li>
    {% endfor %}
</div>

{% endblock %}
