{% extends 'app/base.html' %}
{% load static %}
{% block header %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=192262e9-5603-4065-bba8-83d9251843a9" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'css/ymaps.css' %}">

{% include "app/map_render.html" %}

{% endblock %}

{% block map %}
    <div id="new_point">
    </div>
        <div id="map"></div>
{% endblock %}

{% block content %}


<div class = "fishes_main">
    Рыба:
    <ul class="fishes_list_home">
    {% for fish in fishes %}
        <li><a href = "{% url 'fish_details' fish.id %}"><img src = "{{fish.picture.url}}" class = "fish_icon">{{fish.name}}</a></li>
    {% endfor %}
    </ul>

</div>

<div class="reviews_main">
    Обзоры:
    {% for review in reviews %}
    <li><a href = "{% url 'review_show' review.id %}">{{review.author.username}}  {{review.fishing_date}} </a></li>
    {% endfor %}
</div>

{% endblock %}
