<script>
ymaps.ready(init);
var myMap;
var a = "{% url 'pounds' %}";
function init () {
    console.log({{review.lat}});
    myMap = new ymaps.Map("map1", {
        center: [parseFloat({{review.lat}}), parseFloat({{review.lang}})], // Углич
        zoom: 11
    }, {
        balloonMaxWidth: 200,
        searchControlProvider: 'yandex#search'
    }),

    myMap.geoObjects
        .add(new ymaps.Placemark([parseFloat({{review.lat}}), parseFloat({{review.lang}})], {
            preset: 'islands#icon',
            iconColor: '#0095b6'
        }))

}

</script>


