<script>
ymaps.ready(init);
var myMap;
function init () {
    var lat = parseFloat("{{point.lat}}".replace(",","."));
    var lang = parseFloat("{{point.lang}}".replace(",","."));
    myMap = new ymaps.Map("map1", {
        center: [lat, lang], // Углич
        zoom: 11
    }, {
        balloonMaxWidth: 200,
        searchControlProvider: 'yandex#search'
    }),

    myMap.geoObjects
        .add(new ymaps.Placemark([lat, lang], {
            preset: 'islands#icon',
            iconColor: '#0095b6'
        }))

}

</script>


