{% extends 'app/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/ymaps.css' %}">
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=192262e9-5603-4065-bba8-83d9251843a9" type="text/javascript"></script>
{% include 'app/map_review_show.html' %}
{% endblock %}

{% block content %}
IT WORKS
{{pound.lat}}
{{pound.lang}}
<h3>Review: </h3>
<div>{{pound.description|safe}}</div>

<div id="map1"></div>

<div class="reviews_main">
    Обзоры:
    {% for review in reviews %}
    <li><a href = "{% url 'review_show' review.id %}">{{review.author.username}}  {{review.fishing_date}} </a></li>
    {% endfor %}
</div>

{% endblock %}