{% extends 'app/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/ymaps.css' %}">
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=192262e9-5603-4065-bba8-83d9251843a9" type="text/javascript"></script>
{% include 'app/map_review_show.html' %}
{% endblock %}

{% block content %}
    <div class = "row justify-content-around">

        <div class="col-lg-2 col-md-2 col-xs-1 py-2">
            рыбак: {{review.author.username}}
            <div class = 'fish_size'>
                длина {{review.length}} см<br>
                вес {{review.weight}} кг<br>
            </div>
            <div class = "photoes">
                        <img src = "{{review.picture.url}}" class = "review_photo">{{fish.name}}
            </div>
            <div>{{review.content}}</div>
        </div>
        <div class = "col-lg-2 col-md-2 col-xs-1 py-2">
            <div id="map1"></div>
            {% include 'app/weather.html' %}
        </div>
    </div>
<!--<div>-->
<!--        <img src = "{{review.fish_caught.picture.url}}" class = "fish_icon_medium">-->
<!--                {{review.fish_caught.name}}-->
<!--</div>-->


{% endblock %}