{% extends 'app/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/ymaps.css' %}">
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=192262e9-5603-4065-bba8-83d9251843a9" type="text/javascript"></script>
{% include 'app/map_review_show.html' %}
{% endblock %}

{% block content %}
<h3>Review: </h3>
<div>{{review.content}}</div>
{% include 'app/weather.html' %}
<div id="map1"></div>
<div>
    {% for fish in fish_caught %}
        <a href = "{% url 'fish_details' fish.id %}">
            <li class = "list-group-item"><img src = "{{fish.picture.url}}" class = "fish_icon_medium">
                {{fish.name}}
            </li>
        </a>
    {% endfor %}
</div>

<div class = "photoes">
<!--    {{review.images}}-->
    {% for image in images %}
        <img src = "{{image.image}}" class = "fish_icon_medium">
    {% endfor %}
</div>
{% endblock %}